{% extends 'base.html' %}
{% block title %}Факты{% endblock %}
{% block content %}

    <h1>Факты</h1>

    <h2>Топ-3 самых популярных домашних животных</h2>
    <ol>
      <li>Котики</li>
      <li>Собаки</li>
      <li>Ежики</li>
    </ol>

    <h2>Любимые лакомства животных</h2>
    <ul>
        <li>Котики — рыба</li>
        <li>Собаки — кости</li>
        <li>Ежики — яблоки</li>
    </ul>

    <h2>Интересные факты о животных</h2>
    <ul>
        <li>Котики
            <ol>
                <li>Спят до 16 часов в день.</li>
                <li>Имеют уникальный отпечаток носа, как у людей отпечатки пальцев.</li>
            </ol>
        </li>
        <li>Собаки
            <ol>
                <li>Обладают более чем 220 миллионами обонятельных рецепторов.</li>
                <li>Могут понимать до 250 слов и жестов.</li>
            </ol>
        </li>
        <li>Ежики
            <ol>
                <li>Могут сворачиваться в клубок для защиты.</li>
                <li>Едят насекомых, фрукты и даже мелких змей.</li>
            </ol>
        </li>
    </ul>

{% endblock %}